@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500&family=Montserrat:wght@200;300;400&family=Roboto:wght@100;300;500;700&display=swap');

/*fonts*/ 
$font-roboto:'Roboto', sans-serif;
$font-exo2:'Exo 2', sans-serif;
$font-mont:'Roboto', sans-serif;
/*colors*/ 
$whiteColor:#fff;
$blackColor:#000;
$main-background:#000A2C;
$secondary-background:#F1F1F1;

// $main-color: 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    display: grid;
    justify-items: center;
    background: $secondary-background;
    font-family: $font-roboto;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: $blackColor;
}
li{
    list-style: none
}
.hero{
    width: 100vw;
    height: 100vh;
    background: $main-background;
    display: grid;
    place-items: center;
    padding:0 150px 50px 150px;
    grid-template-rows: 100px auto;
    .scroll-top-btn{
        position: fixed;
        bottom: -100px;
        display: grid;
        transition: all .5s ease;
        place-items: center;
        border-radius: 50%;
        right: 20px;
        width: 50px;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.26);
        height: 50px;
        background: $blackColor;

        &:hover{
            svg{
                animation: shrinking 1.5s ease;
            }
        }
    }
    nav{
        width: 100%;
        z-index: 3;
        position: relative;
        top: 0;
        left: 0;
        
        .nav-wraper{
            width: 100vw;
            position: fixed;
            top: 0;
            z-index: 9999;
            padding:0 100px;
            display: flex;
            transition: background .3s ease;
            justify-content: end;
            right: 0;
            @media only screen and(min-width:1400px) {
                padding-left: calc((100vw - 1200px) / 2);
                padding-right: calc((100vw - 1200px) / 2);
            }
            .nav-items{
                width: auto;
                height: 80px;
                display: grid;
                grid-gap: 20px;
                place-items: center;
                align-items: center;
                grid-template-columns: 1fr 1fr 1fr 1fr auto;
                .nav-link{
                    text-decoration: none;
                    position: relative;
                    list-style-type: none;
                    a{
                        text-decoration: none;
                    }
                        &:hover{
                        .drpdwn{
                                display: grid;
                            }
                        }
                        .drpdwn{
                            position: absolute;
                            width: 350px;
                            top: 22px;
                            border-radius: 5px;
                            padding: 10px 5px;
                            left: 0;
                            display: none;
                            transform: translateX(-25%);
                            height: auto;
                            align-items: center;
                            background: rgb(241, 241, 241);
                            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                            &::before{
                                content: '';
                                position: absolute;
                                width: 0px;
                                height: 0px;
                                top: -25px;
                                z-index: 4;
                                left: 100px;
                                border-bottom: 15px solid rgb(241, 241, 241);
                                border-left: 15px solid transparent;
                                border-right: 15px solid transparent;
                                border-top: 15px solid transparent;
                            }
                            li{
                                font-size: 16px;
                                padding: 5px 5px;
                                border-radius: 5px;
                                list-style: none;   
                                width: 100%;
                                display: grid;
                                font-weight: 300;
                                align-items: center;
                                height: 100%;
                                a{
                                    text-transform: capitalize;
                                    color: $blackColor;
                                    text-decoration: none;
                                }
                                
                                &:hover{
                                    background: rgba(45, 143, 255, 0.24);
                                }
                            }
                        }
                    
                }
                p{
                    font-size: 18px;
                    color: $whiteColor;
                    cursor: pointer;
                    font-weight: 300;
                    transition: all .5s ease;
                    &:hover{
                        transform: translateY(-3px);
                        color: rgb(22, 146, 150);
                    }
                }
                .contact-btn{
                    width: 150px;
                    display: grid;
                    place-items: center;
                    height: 50px;
                    border: none;
                    outline: none;
                    transition: all .5s ease;
                    font-size: 22px;
                    cursor: pointer;
                    color: $blackColor;
                    background: $whiteColor;
                    border-radius: 8px;
                    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
                    &:hover{
                        box-shadow: inset 2px 2px 14px rgba(0, 0, 0, 0.281),;
                    }
                    &:active{
                        color: rgb(81, 81, 240);
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .main-sec{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .heading-sec{
            display: grid;
            grid-gap: 30px;
            align-content: center;
            h1{
                font-size: 60px;
                color: $whiteColor;
                font-family: $font-exo2;
                font-weight: bold;
            }
            p{
                font-size: 18px;
                color: $whiteColor;
                line-height: 30px;
            }
        }
        img{
            max-width: 450px;
            width: 100%;
            align-self: center;

        }
    }
}
.map{
    width: 100vw;
    height: auto;
    background: $secondary-background;
    padding: 100px;
    .box{
        width: 100%;
        height: 90vh;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.25), -7px -7px 20px #FFFFFF;
        border-radius: 15px;
        grid-gap: 10px;
        background: $secondary-background;
        &-map-sec{
            width: 100%;
            height: 100%;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 15px;
            overflow: hidden;
            iframe{
                width: 100%;
                height: 100%;
            }
            .map-2,.map-3{
                display: none;
            }
        }
        .select-sections{
            width: 100%;
            height: 100%;
            grid-gap: 15px;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            .select-section{
                width: 100%;
                height: 100%;
                cursor: pointer;
                color: $blackColor;
                background: $whiteColor;
                border-radius: 15px;
                border: .2px solid rgba(0, 0, 0, 0.2);
                display: grid;
                padding: 15px;
                transition: all 1s ease;
                grid-template-rows: 1fr 1fr 1fr;
                .heading-button{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    button{
                        padding: 8px 20px;
                        outline: none;
                        border: none;
                        background: $main-background;
                        border-radius: 5px;
                        color: $whiteColor;
                    }
                }
                p{
                    align-self: center;
                }
            }
            .select-section.active{
                transition: all 1s ease;
                color: $whiteColor;
                background: $main-background;
                button{
                    background: $whiteColor;
                    color: $blackColor;
                }
            }
        }
    }
}
.contact{
    width: 100vw;
    height: auto;
    display: grid;
    padding: 50px 100px;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    h1{
        font-size: 45px;
        font-family: $font-exo2;
        color: $blackColor;
        margin-bottom: 30px;
    }
    .nav-for-forms{
        position: relative;
        width: 100%;
        height: 50px;
        background: $whiteColor;
        border-radius: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        border: 1px solid rgba(0, 0, 0, 0.205);
        .background{
            position: absolute;
            width: 25%;
            height: 100%;
            top: 0;
            left: 0;
            transition: left .5s ease;
            background: $main-background;
            border-radius: 15px;
            z-index: 1;
        }
        .items{
            z-index: 2;
            width: 100%;
            border-radius: 15px;
            cursor: pointer;
            display: grid;
            font-size: 16px;
            font-weight: 400;
            transition: all .5s ease;
            place-items: center;
        }
        .items.active{
            transition: all 1s ease;
            color: $whiteColor;
        }
    }
    .contact-form{
        overflow: hidden;
        height: auto;
        width: 100%;
        padding: 20px 0;
        background: $secondary-background;
        @media only screen and(min-width:1400px) {
            padding-left:calc((100vw - 1200px )/2) ;
            padding-right:calc((100vw - 1200px )/2) ;
        }
        .all-contact-form-container{
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            width: 400%;
            place-items: center;
            .contact-form-wraper{
                width: 100%;
                height: 100%;
                display: grid;
                grid-gap: 30px;
                grid-template-rows:auto;
                .main-container{
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-gap:30px;
                    grid-template-rows: 1fr 1.1fr 2fr 1fr .8fr;
                    .main-details{
                        width: 100%;
                        display: grid;
                        place-items: center;
                        grid-template-columns: 1fr 1fr 1fr;
                        input{
                            width: 90%;
                            border: none;
                            outline: none;
                            font-size: 18px;
                            padding-left: 20px;
                            height: 40px;
                            background: $secondary-background;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03), inset -7px -7px 15px #FFFFFF, inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                            border-radius: 14px;
                        }
                    }
                    .strt-time{
                        width: 100%;
                        height: 100%;
                        display: grid;
                        align-items: center;
                        padding-left: 2%;
                        grid-template-rows: 1fr 1fr;
                        .inputs{
                            width: 360px;
                            display: grid;
                            align-items: center;
                            height: 100%;
                            grid-template-columns: 25px auto 25px auto;
                            .radio1{
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                background: #F1F1F1;
                                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), inset -2px -2px 4px #FFFFFF, inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                                position: relative;
                                display: inline;
                                input[type=radio]{
                                    opacity: 0;
                                    cursor: pointer;
                                    &:checked + .check1{
                                        display: block;
                                    }
                                }
                                .check1{
                                    width: 20px;
                                    display: none;
                                    height: 20px;
                                    border-radius: 50%;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    background: $secondary-background;
                                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), -2px -2px 4px #FFFFFF, 0px 4px 4px rgba(0, 0, 0, 0.25);
                                    &::before{
                                        content: '';
                                        position: absolute;
                                        transform: translate(-50%,-50%);
                                        top: 50%;
                                        left: 50%;
                                        border-radius: 50%;
                                        width: 5px;
                                        height: 5px;
                                        background: #000;
                                    }
                                }
                            }
                            span{
                                font-size: 14px;
                            }
                            .radio2{
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                background: #F1F1F1;
                                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), inset -2px -2px 4px #FFFFFF, inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                                position: relative;
                                display: inline;
                                input[type=radio]{
                                    opacity: 0;
                                    cursor: pointer;
                                    &:checked + .check2{
                                        display: block;
                                    }
                                }
                                .check2{
                                    width: 20px;
                                    display: none;
                                    height: 20px;
                                    border-radius: 50%;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    background: $secondary-background;
                                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), -2px -2px 4px #FFFFFF, 0px 4px 4px rgba(0, 0, 0, 0.25);
                                    &::before{
                                        content: '';
                                        position: absolute;
                                        transform: translate(-50%,-50%);
                                        top: 50%;
                                        left: 50%;
                                        border-radius: 50%;
                                        width: 5px;
                                        height: 5px;
                                        background: #000;
                                    }
                                }
                            }
                        }
                    }
                    .which-service{
                        width: 100%;
                        height: 100%;
                        display: grid;
                        padding:0 2% ;
                        grid-template-rows: 1fr 1fr 1fr;
                        h3{
                            align-self: end;
                        }
                        .services1{
                            display: grid;
                            align-items: center;
                            grid-template-columns: 1fr 1fr 1fr 1fr;
                            font-size: 14px;
                            .checkbox{
                                display: flex;
                                gap: 5px;
                                align-items: center;
                                input{
                                    appearance: none;
                                    position: relative;
                                    width: 20px;
                                    cursor: pointer;
                                    height: 20px;
                                    background-color: $secondary-background;
                                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03), inset -2px -2px 6px #FFFFFF, inset 3px 3px 4px rgba(0, 0, 0, 0.27);
                                    border-radius: 2px;
                                    &::before{
                                        content: '';
                                        position: absolute;
                                        top: 50%;
                                        display: none;
                                        left: 50%;
                                        transform: translate(-50%,-50%);
                                        width: 20%;
                                        height: 20%;
                                        background: #000;
                                    }
                                    &:checked{
                                        background-color: $secondary-background;
                                        box-shadow:inset 0px 4px 4px rgba(0, 0, 0, 0.03),  -2px -2px 6px #FFFFFF,  3px 3px 4px rgba(0, 0, 0, 0.27);
                                        &::before{
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                        .services2{
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr 1fr;
                            font-size: 14px;  
                        }
                    }
                    .requirments{
                        padding: 0 2%;
                        width: 100%;
                        height: 100%;
                        grid-gap: 15px;
                        display: grid;
                        grid-template-rows: 1fr 1fr;
                        h3{
                            span{
                                color: rgba(0, 0, 0, 0.445);
                            }
                        }
                        textarea{
                            width: 100%;
                            height: 30px;
                            outline: none;
                            font-size: 15px;
                            background: $secondary-background;
                            border: none;
                            border-bottom: 2px solid #000;
                        }
                    }
                    .submit-button-container{
                        width: 95%;
                        height: 100%;
                        display: grid;
                        place-items: center;
                        .submit-button{
                            width: 150px;
                            height: 50px;
                            display: grid;
                            cursor: pointer;
                            border: none;
                            outline: none;
                            place-items: center;
                            box-shadow: -5px -5px 4px #FFFFFF, 0px 4px 4px rgba(0, 0, 0, 0.25);
                            border-radius: 9px;
                            &:hover{
                                box-shadow: -1px -1px 4px #FFFFFF, 0px 1px 4px rgba(0, 0, 0, 0.25);
                            &:active {
                                box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25), inset -1px -1px 2px #FFFFFF;
                                }
                            }
                        }
                    }
                }
            }
            .form-2-requestACallback{
                width: 100%;
                display: none;
                .contact-form-wraper{
                    width: 100%;
                    height: 80%;
                    display: grid;
                    grid-gap: 30px;
                    grid-template-rows:auto;
                    .main-container{
                        width: 100%;
                        height: 100%;
                        display: grid;
                        grid-gap:50px;
                        grid-template-rows: 1fr 2fr 1fr;
                        .main-details{
                            width: 100%;
                            display: grid;
                            place-items: center;
                            grid-template-columns: 1fr 1fr 1fr;
                            input{
                                width: 90%;
                                border: none;
                                outline: none;
                                font-size: 18px;
                                padding-left: 20px;
                                height: 40px;
                                background: $secondary-background;
                                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03), inset -7px -7px 15px #FFFFFF, inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                                border-radius: 14px;
                            }
                        }
                        .time-slot{
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-gap: 5px;
                            h1{
                                padding-left: 2%;
                                font-size: 18px;
                                font-family: $font-roboto;
                            }
                        }
                        .submit-button-container{
                            width: 95%;
                            height: 100%;
                            display: grid;
                            place-items: center;
                            .submit-button{
                                width: 150px;
                                height: 50px;
                                display: grid;
                                cursor: pointer;
                                border: none;
                                outline: none;
                                place-items: center;
                                box-shadow: -5px -5px 4px #FFFFFF, 0px 4px 4px rgba(0, 0, 0, 0.25);
                                border-radius: 9px;
                                &:hover{
                                    box-shadow: -1px -1px 4px #FFFFFF, 0px 1px 4px rgba(0, 0, 0, 0.25);
                                &:active {
                                    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25), inset -1px -1px 2px #FFFFFF;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // ---------------------------------
            .form-3-requestAQuotes{
                width: 100%;
                display: none;
                .contact-form-wraper{
                    width: 100%;
                    height: 80%;
                    display: grid;
                    grid-gap: 30px;
                    grid-template-rows:auto;
                    .main-container{
                        width: 100%;
                        height: 100%;
                        display: grid;
                        grid-gap:30px;
                        grid-template-rows: 1fr 2fr 1fr;
                        .main-details{
                            width: 100%;
                            display: grid;
                            place-items: center;
                            grid-template-columns: 1fr 1fr 1fr;
                            input{
                                width: 90%;
                                border: none;
                                outline: none;
                                font-size: 18px;
                                padding-left: 20px;
                                height: 40px;
                                background: $secondary-background;
                                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03), inset -7px -7px 15px #FFFFFF, inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                                border-radius: 14px;
                            }
                        }
                        .main-details-2{
                            width: 100%;
                            display: grid;
                            place-items: center;
                            grid-template-columns: 1fr 1fr;
                            input{
                                width: 95%;
                                border: none;
                                outline: none;
                                font-size: 18px;
                                padding-left: 20px;
                                height: 40px;
                                background: $secondary-background;
                                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03), inset -7px -7px 15px #FFFFFF, inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                                border-radius: 14px;
                            }
                        }
                        .submit-button-container{
                            width: 95%;
                            height: 100%;
                            display: grid;
                            place-items: center;
                            .submit-button{
                                width: 150px;
                                height: 50px;
                                display: grid;
                                cursor: pointer;
                                border: none;
                                outline: none;
                                place-items: center;
                                box-shadow: -5px -5px 4px #FFFFFF, 0px 4px 4px rgba(0, 0, 0, 0.25);
                                border-radius: 9px;
                                &:hover{
                                    box-shadow: -1px -1px 4px #FFFFFF, 0px 1px 4px rgba(0, 0, 0, 0.25);
                                &:active {
                                    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25), inset -1px -1px 2px #FFFFFF;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // ---------------------------------
            .form-4-career{
                width: 100%;
                display: none;
                .contact-form-wraper{
                    width: 100%;
                    height: 80%;
                    display: grid;
                    grid-gap: 30px;
                    grid-template-rows:auto;
                    .main-container{
                        width: 100%;
                        height: 100%;
                        display: grid;
                        grid-gap:50px;
                        grid-template-rows: 1fr 1fr 5fr 1fr;
                        .main-details{
                            width: 100%;
                            display: grid;
                            place-items: center;
                            grid-template-columns: 1fr 1fr 1fr;
                            input{
                                width: 90%;
                                border: none;
                                outline: none;
                                font-size: 18px;
                                padding-left: 20px;
                                height: 40px;
                                background: $secondary-background;
                                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03), inset -7px -7px 15px #FFFFFF, inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                                border-radius: 14px;
                            }
                        }
                        .main-details-2{
                            width: 100%;
                            display: grid;
                            place-items: center;
                            grid-template-columns: 1fr 1fr;
                            input{
                                width: 95%;
                                border: none;
                                outline: none;
                                font-size: 18px;
                                padding-left: 20px;
                                height: 40px;
                                background: $secondary-background;
                                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03), inset -7px -7px 15px #FFFFFF, inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                                border-radius: 14px;
                            }
                        }
                        .drag-drop-file{
                            width: 95%;
                            place-self: center;
                            border-radius: 15px;
                            height: 100%;
                            display: grid;
                            place-items: center;
                            border: 2px dashed rgba(0, 0, 0, 0.116);
                            .icons-input-box{
                                max-width: 250px;
                                width: 100%;
                                height: 90%;
                                display: grid;
                                grid-template-columns: 1fr;
                                justify-items: center;
                            }
                            .icon{
                                display: grid;
                                place-items: center;
                                img{
                                    width: 40px;
                                    height: 40px;
                                }
                                p{
                                    font-size: 18px;
                                    padding: 5px 10px;
                                    border-radius: 5px;
                                    border: 1px dashed #000;
                                }
                            }
                            .custom-file-input{
                                position: relative;
                                color: $secondary-background;
                                &::-webkit-file-upload-button{
                                    visibility: hidden;
                                }
                                &::before{
                                    position: absolute;
                                    width: 120px;
                                    height: 30px;
                                    left: 50%;
                                    top: 50%;
                                    border-radius: 5px;
                                    font-size: 18px;
                                    display: grid;
                                    place-items: center;
                                    background: #000;
                                    transform: translate(-50%,-50%);
                                    content: "select file";
                                }
                            }
                        .submit-button-container{
                            width: 95%;
                            height: 100%;
                            display: grid;
                            place-items: center;
                            .submit-button{
                                width: 150px;
                                height: 50px;
                                display: grid;
                                cursor: pointer;
                                border: none;
                                outline: none;
                                place-items: center;
                                box-shadow: -5px -5px 4px #FFFFFF, 0px 4px 4px rgba(0, 0, 0, 0.25);
                                border-radius: 9px;
                                &:hover{
                                    box-shadow: -1px -1px 4px #FFFFFF, 0px 1px 4px rgba(0, 0, 0, 0.25);
                                &:active {
                                    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25), inset -1px -1px 2px #FFFFFF;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // ----------------------
        }
    }
}
}