@import '../../Style/variable';

.connect{
    width: 100vw;
    height: auto;
    padding: 50px 200px;
    background: $main-background;
    @media only screen and (min-width:1400px){
        padding-left: calc((100vw - 1000px)/2);
        padding-right: calc((100vw - 1000px)/2);
    }
    .connect-wraper{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .right-section{
            display: grid;
            place-items: center;
            img{
                width: 100%;
            }
        }
        .left-section{
            display: grid;
            color: $whiteColor;
            grid-template-rows: 1fr 2fr 1fr;
            .headings{
                display: grid;
                grid-gap: 10px;
                align-content: center;
                h1{
                    font-family: $font-exo2;
                    font-weight: bold;
                    font-size: 48px;
                }
                p{
                    font-family: $font-exo2;
                    font-weight: normal;
                    font-size: 18px;
                }
            }
            .contents{
                display: grid;
                align-items: center;
                padding: 20px 0;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                li{
                    list-style-position: inside;
                    font-weight: 300;
                }
            }
            .button-sec{
                display: grid;
                align-items: center;
                .button{
                    width: 150px;
                    border-radius: 5px;
                    height: 50px;
                    display: grid;
                    color: $main-background;
                    font-weight: bold;
                    font-size: 20px;
                    cursor: pointer;
                    border: none;
                    outline: none;
                    place-items: center;
                    background: $whiteColor;
                    &:hover{
                        box-shadow: inset 0  0 15px rgba(34, 99, 173, 0.527);
                    }
                    &:active{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}