@import '../../Style/variable';

nav{
    position: relative;
    z-index: 9999;
    width: 100%;
    @media only screen and(max-width:768px) {
        display: none;
    }
    .logo{
        align-self: center;
        color: red;
        img{
            height: 100px;
        }
    }
    .nav-wraper{
        padding: 0px 100px;
        // padding:0 100px;
        color:$whiteColor;
        display: flex;
        transition: background .3s ease;
        justify-content: space-between;
        right: 0;
        @media only screen and(min-width:1400px) {
            padding-left: calc((100vw - 1200px) / 2);
            padding-right: calc((100vw - 1200px) / 2);
        }
        @media only screen and(max-width:960px) {
            padding: 0 50px;
        }
        
        .nav-items{
            width: auto;
            height: 80px;
            display: grid;
            grid-gap: 20px;
            place-items: center;
            align-items: center;
        grid-auto-flow: column;
        // grid-template-columns: 1fr 1fr 1fr 1fr auto;
            .nav-link{
                text-decoration: none;
                position: relative;
                list-style-type: none;
                height: 100%;
                display: grid;
                place-items: center;
                a{
                    text-decoration: none;
                }
                    &:hover{
                    .drpdwn{
                            display: grid;
                        }
                    }
                    .drpdwn{
                        position: absolute;
                        width: 350px;
                        top: 65px;
                        border-radius: 5px;
                        padding: 10px 5px;
                        left: 0;
                        display: none;
                        transform: translateX(-25%);
                        height: auto;
                        align-items: center;
                        background: rgb(219, 219, 219);
                        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                        &::before{
                            content: '';
                            position: absolute;
                            width: 0px;
                            height: 0px;
                            top: -25px;
                            z-index: 4;
                            left: 100px;
                            border-bottom: 15px solid rgb(219, 219, 219);
                            border-left: 15px solid transparent;
                            border-right: 15px solid transparent;
                            border-top: 15px solid transparent;
                        }
                        li{
                            font-size: 16px;
                            padding: 5px 5px;
                            border-radius: 5px;
                            list-style: none;   
                            width: 100%;
                            display: grid;
                            font-weight: 300;
                            align-items: center;
                            height: 100%;
                            a{
                                text-transform: capitalize;
                                color: $blackColor;
                                text-decoration: none;
                            }
                            
                            &:hover{
                                background: rgba(45, 143, 255, 0.24);
                            }
                        }
                    }
                
            }
            p{
                font-size: 18px;
                position: relative;
                cursor: pointer;
                font-weight: 300;
                transition: all .5s ease;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0%;
                    transition: all .5s ease;
                    height: 100%;
                    border-bottom: 2px solid rgb(0, 225, 255);
                }
                &:hover{
                    &::before{
                        width: 100%;
                    }
                }
            }
            .contact-btn{
                width: 150px;
                display: grid;
                place-items: center;
                height: 50px;
                border: none;
                outline: none;
                transition: all .5s ease;
                font-size: 22px;
                cursor: pointer;
                color: $blackColor;
                background: $whiteColor;
                border-radius: 8px;
                box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
                &:hover{
                    border:1px rgb(106, 255, 255) solid;
                    color:rgb(4, 102, 102) ;
                }
                &:active{
                    color: rgb(81, 81, 240);
                    font-size: 20px;
                }
            }
        }
    }
}