@import '../../../Style/variable';


.loading{
    overflow: hidden;
    width: 200px;
    position: relative;
    height: 200px;
    z-index: 999999999;
    display: grid;
    border-radius: 20px;
    background-color: rgba(65, 65, 65, 0.356);
    place-items: center;
    &::before{
        width: 50px;
        height: 150%;
        content: '';
        position: absolute;
        top: -50px;
        transform: rotate(20deg);
        background: linear-gradient(90deg, rgba(196, 196, 196, 0) 14.71%, rgba(107, 107, 107, 0.18) 55.58%, rgba(196, 196, 196, 0) 100%);
        animation: loading 1s linear infinite;
    }
}


@keyframes loading {
    0%{
        left:-30px;
    }
    50%{
        left: 50%;
    }
    100%{
        left: 100%;
    }
}
